#tituloPrincipal{
    color: darkblue;
    font-family: cursive;

}

.parrafoSecundario{
    color: red;
    font-size: 20px;
}

p{
    background-color: antiquewhite
}

.contenerdor{
    top:12%;
    left: 0;
    background-color: bisque;
    margin: 0px;
    padding: 10px;
    width: 100%;
    position: fixed;
}